* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
}

img {
  pointer-events: none;
}

:root {
  --color-background: #030207;
  --color-white: #fff;
  --color-blue: #1474b4;
}

body {
  background-color: var(--color-background);
  color: var(--color-white)
}

.hero, .section {
  width: 100%;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--color-background));
  position: relative;
}

.hero__background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}

.hero__foreground {
  text-align: center;
  padding-top: 35vh;
}

.hero__title {
  font-weight: 300;
  font-size: 5rem
}

.hero__text {
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: .45rem;
  font-size: 1.05rem;
}

.section {
  padding: 0 5rem;
  overflow: hidden;
  text-align: center;
}

.section__title, .section__text {
  text-align: center;
}

.section__title {
  font-weight: 300;
  font-size: 2rem;
  margin: 3rem 0;
}

.section__text {
  margin: 3rem 0 0;
}

.section__img, .section__img-inline, .gallery__img {
  /* eixo-x eixo-y blur expansão/recuo cor */
  box-shadow: .5rem .5rem .8rem -.5rem var(--color-background)
}

.section__img {
  object-fit: cover;
  width: 100%;
  height: 25rem;
  object-position: top;
  border-radius: .3rem;
}

.section__img-inline {
  width: 20rem;
  height: 25rem;
  border-radius: 1em;
  border-top-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  float: left;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.section__text-inline {
  margin-top: 6rem;
  margin-bottom: 1rem;
  text-align: left
}

.section__text-inline > p {
  margin-top: 1.5rem
}

#hangouts img {
  object-position: center;
}

.gallery__img-wrapper {
  /* Por que isso precisa ser inline-block ?

  A resposta é a seguinte: O gallery__img-wrapper é uma span, o que significa que este elemento não cresce verticalmente. Então, 
  se o display não for inline-block, não tem como usar o ::after da melhor maneira neste código, porque vamos posicionar os pontinhos vermelhos no topo do card.
  Então, gallery__img-wrapper precisa ser um inline-block pra poder crescer também verticalmente e herdar o tamanho automático do conteúdo dentro dele, 
  ainda que o conteúdo dentro dele tenha position absolute. Mas é bom levar em consideração que para elementos absolutos serem posicionados no limite do elemento pai, 
  esse elemento pai precisa ter uma position diferente de static. Neste exemplo aqui, gallery__img-wrapper tem um position relative, 
  para que tanto a imagem quanto o pseudo ::after possam ser relativos a este elemento */

  display: inline-block; 
  position: relative
}

.gallery__img-wrapper::after{
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: rgb(228, 26, 26);
  position: absolute;
  top: .8rem;
  right: 1rem;
}

.gallery__img-wrapper:nth-child(even)::after{
  top: 1.5rem;
  left: 1rem;
}


.gallery__img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem;
}

.gallery__img-wrapper > .gallery__img {
  transform: rotate(-2deg);
}

.gallery__img-wrapper:nth-child(even) > .gallery__img {
  position: relative;
  top: 1rem;
  transform: rotate(2deg);
}

.gallery__img-wrapper + .gallery__img-wrapper {
  margin-left: 1rem;
}

footer {
  padding: 2rem;
  text-align: center;
}